#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%;
  max-width: max-content;
}
/* add grid to make a table  */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  margin-bottom: 10px;
}

nav a {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #f4f4f4;
  transition: background-color 300ms;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
